.para-style
{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.para-style2
{
    color: green;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.h1-style
{
    color: tomato;
    font-size: 3rem;
    font-weight: bold;
}

.mymusic
{
    color: tomato;
    font-size: large;
    font-weight: bold;
    background-color:aliceblue;
    margin: 5px;
    height: auto;
    width: auto;
}

.anim
{
    box-shadow: 0 15px 10px 0 tomato;
    opacity: 0.5;
}
